a {
    color: #4299a3;
}
code {
    color: #666;
}

body {
    padding-top:65px;
}
.anchor {
    display: block;
    position: relative;
    top: -85px;
    visibility: hidden;
}
.container {
    max-width:860px;
}
.jumbotron {
    margin: 0;
    border-radius: 6px;
}
.github svg {
    width:20px;
    height:20px;
    margin: -5px 0;
    fill: currentColor;
}
.panel-heading > h4 {
    position: relative;
    padding:4px 0;
    padding-left:30px;
}
.panel-heading > h4 > img {
    max-width:24px;
    max-height:24px;
    position: absolute;
    left:-3px;
    top:0;
}
.panel-heading > h4 > span {
    color: #4299a3;
    font-size:22px;
    font-weight: normal;
    position: absolute;
    left:-3px;
    top:0;
    margin-right:6px;
}
.panel-heading > h4 > span.devicons {
    font-size: 26px;
}
.panel-heading > h4 > .elm {
    display:block;
    width:24px;
    height: 24px;
    font-size:12px;
    line-height: 20px;
    white-space: nowrap;
    text-align: center;
    border: 2px solid #4299a3;
    font-weight: 700;
}
.panel-footer > a {
    color: #666;
    margin-right:10px;
    position: relative;
    float:left;
    top:-1px;
    opacity: 0.9;
    transition: all 0.2s;
}
.panel-footer > a:hover {
    text-decoration: none;
    color: #4299a3;
    opacity: 1;
}
.panel-footer .dropdown {
    display: inline-block;
    position: relative;
    float:left;
}
.panel-footer .dropdown > span {
    display: inline-block;
    height:20px;
    padding:0 6px 0;
    position: relative;
    top:2px;
}
.panel-footer .dropdown > span:hover,
.panel-footer .dropdown.open > span {
    background: #d8d8d8;
    border-radius: 3px;
}
.badge {
    vertical-align: baseline;
    display: inline-block;
    border-radius: 4px;
    background: #666;
    line-height: 1.6em;
    position: relative;
    top:1px;
    padding: 0 6px 0 26px;
    color:#fff;
}
.badge:before {
    content: "";
    font-family: 'devicon';
    background: #f58006;
    color:#fff;
    position: absolute;
    left:0;
    top:0;
    bottom:0;
    width:20px;
    text-align: center;
    border-radius: 4px 0 0 4px;
    font-size:1em;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;    
}
.badge.ter:before {
    content: "";
    background: #f58006;
}
a.github {
    font-family: 'devicon';
    background: #ffffff;
}
a.github::content {
    font-family: 'devicon';
    content: "";
    background: #ffffff;
}
.badge.github:before {
    content: "";
    background: #333;
}
.badge.docker:before {
    content: "";
    background: #13a3d4;
}
.badge.npm:before {
    content: "";
    background: #C12127;
}
.badge.packagist:before {
    content: "";
    background: #f28d1a
}
.badge.demo:before {
    content: "\e072";
    font-family: 'Glyphicons Halflings';
    background: #4299a3;
}
.footer {
    border-top: 1px solid #eeeeee;
    padding-top: 1em;
    margin-bottom: 1em;
}